*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',  sans-serif;
}

.wrapper {
 width: 1100px;
 margin: auto;
 position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Courier ;
    color: #364f6b;
}

.menu {
    float: right;
}



nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#home img{
    width: 50% ;
    height: auto;
    margin-right: 15px;
    margin-top: 5px;
}


section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: comic sans ms;
    color: #364f6b;
}

h2 {
    font-family: comic sans ms;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background-color: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background-color: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px ;
    padding: 10px 0px 10px 0px ;

}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    height: 170px;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: comic sans ms;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20px;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background-color: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: comic sans ms;
    font-size: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    line-height: 50px;
    width: 100%;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block; }

    .logo a{
    display: block;
    width: 100%;
    text-align: center;
    }

    nav .menu {
    width: 100%;
    margin: 0;
    }

    nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
    }

    nav .manu ul li {
    display: inline-block;
    float: none;

    }

    section {
    display: block;

    }

    section img {
    display: block;
    width: 100%;
    height: auto;
    }

    .kartu-tutor {
    width: 50%;
    }

    .kartu-partner {
    width: 50%;
    }
    }

.tombol-menu  {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;

}

@media screen and (max-width: 991.98px) {
    .logo a {
        display: inline;

    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .tombol-menu {
        display: flex;
    }

    nav .menu{
        display: none;
    }

    nav .menu.active {
        display: flex;
    }

    nav ul li {
        width: 100%;
        border-bottom: 1px solid#33333333;
    }
}
